<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>Регистрация</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>Регистрация</h1>
            <form action="/registration" th:object="${user}" method="POST" enctype="utf8">
                <div class="form-group">
                    <label>Имя:</label>
                    <input class="form-control"
                           th:classappend="${#fields.errors('firstName').isEmpty()} ? 'is-valid' : 'is-invalid'"
                           placeholder="Введите имя..."
                           th:field="*{firstName}"/>
                    <p class="invalid-feedback" th:each="error: ${#fields.errors('firstName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label>Фамилия:</label>
                    <input class="form-control"
                           th:classappend="${#fields.errors('lastName').isEmpty()} ? 'is-valid' : 'is-invalid'"
                           placeholder="Введите фамилию..."
                           th:field="*{lastName}"/>
                    <p class="invalid-feedback" th:each="error : ${#fields.errors('lastName')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label>Логин:</label>
                    <input class="form-control"
                           th:classappend="${#fields.errors('username').isEmpty()} ? 'is-valid' : 'is-invalid'"
                           type="text"
                           th:field="*{username}"
                           placeholder="Введите логин..."/>
                    <p class="invalid-feedback" th:each="error : ${#fields.errors('username')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">
                    <label>Пароль:</label>
                    <input class="form-control"
                           type="password"
                           th:classappend="${#fields.errors('password').isEmpty()} ? 'is-valid' : 'is-invalid'"
                           th:field="*{password}"
                           placeholder="Введите пароль..."/>
                    <p class="invalid-feedback" th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group">

                    <label>Подтверждение пароля:</label>
                    <input class="form-control"
                           type="password"
                           th:classappend="${#fields.errors('matchingPassword').isEmpty()} ? 'is-valid' : 'is-invalid'"
                           th:field="*{matchingPassword}"
                           placeholder="Введите пароль..."/>
                    <p class="invalid-feedback" th:each="error : ${#fields.errors('matchingPassword')}"
                       th:text="${error}">Validation error</p>
                    <p class="invalid-feedback" th:if="${matchingPassword == null || !matchingPassword}">Пароли не совпадают</p>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="form-control btn btn-info center">Зарегистрироваться</button>
                        </div>
                    </div>
                </div>
            </form>

            <a th:href="@{/login}">Войти</a>
        </div>

    </div>
</div>

</body>
</html>
