<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <title>themes</title>
</head>
<body>


<div th:replace="fragments/header :: header"></div>


<div class="container-fluid" style="margin-top: 10px;">


    <div class="row" style="background-color: skyblue; margin-top: 20px; padding: 10px 0 10px">
        <div class="col-4">Создатель темы: <span th:text="${author}" style="font-weight: bold">Автор</span></div>
        <div class="col-8">Название темы: <span th:text="${themeName}" style="font-weight: bold">Тема</span></div>
    </div>

    <div class="row" style="background-color: aliceblue; margin: 5px 0 5px">
        <div style="font-weight: bold; padding-top: 10px; padding-bottom: 10px;" class="col-1">Автор</div>
        <div style="font-weight: bold; padding-top: 10px; padding-bottom: 10px;" class="col-8">Текст сообщения</div>
        <div style="font-weight: bold; padding-top: 10px; padding-bottom: 10px;" class="col-1">Дата</div>
    </div>

    <div class="row" style="background-color: aliceblue; margin: 5px 0 5px" th:each="message: ${messages}" th:object="${message}">
        <div class="col-1" th:text="*{getAuthor().getFirstName() + ' ' + getAuthor().getLastName()}">Автор</div>
        <div class="col-8" style="white-space:pre-wrap" th:text="*{getText()}">Текст сообщения</div>
        <div class="col-1" th:text="*{getDate()} != null ? *{getDate().toLocaleString()} : ''">Дата</div>
        <div class="col-2">
            <form class="form" th:action="@{'/themes/' + ${themeId} + '/' + ${message.getId()}}" method="post">
                <button th:attr="disabled=${!isAdmin && currentUser != message.getAuthor().getUsername()}"
                        class="btn btn-danger btn-block btn-sm">Удалить</button>
            </form>
        </div>
    </div>

    <form class="input-group" style="margin-top: 20px; background-color: aliceblue; padding: 20px 0 20px;" th:action="@{'/themes/' + ${themeId} + '/new-message'}" method="post">
        <div class="input-group-prepend">
            <span class="input-group-text">Отправка сообщения:</span>
        </div>
        <textarea class="form-control" aria-label="With textarea" name="text" placeholder="Напишите что-нибудь..."></textarea>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Отправить</button>
        </div>
    </form>
</div>



<div th:if="${param.error} != null">
    <div class="alert alert-danger" th:text="${param.error}">
        Какая-то ошибка.
    </div>
</div>

</body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</html>